@import './../../styles/variables.scss';

.logo{
    display:flex;
    align-items: center;
    text-decoration: none;
    color:$black;
    img{
        width: 200px;
        height: 150px;
    }
    

    span{
        font-size: 2rem;
        color:$black;
        font-weight: 900;
        letter-spacing: $letterSpacing;
        margin-left: $spacing-sm;
    }
}